strong{
  color: rgb(0, 255, 255);  
}

#n1{
    color:#FFF;
}

li, ul, ol {
  list-style-type: none;
  color: var(--primary-color);
  font-family: var(--poppins-font);
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  margin: 5px 0px;
  text-align: justify;
}